server:
  port: 7002

eureka:
  instance:
    hostname: eureka7002.com
  client:
    service-url:
      defaultZone: http://eureka7001.com:7001/eureka
    fetch-registry: false
    register-with-eureka: false
spring:
  application:
    name: cloud-eureka-server2